#home {
    #hero {
        height: 100vh;
        background: right 100% / auto 80% no-repeat, $black;
        position: relative;

        animation: float 1s linear infinite;

        &::before, &::after {
            content: '';
            position: absolute;
            width: min(20vw, 20vh);
            height: 90vh;
            top: max(10vh, 64px);
            z-index: -1;
            background-position: 100% 125%;
            background-repeat: no-repeat;
            background-size: 100% 15%;
            box-sizing: border-box;
        }
        &::after {
            right: 0;
            border-left: solid 1px $light-grey;
            background-image: linear-gradient(to left, transparent 0, transparent calc(100% - 1px), $white calc(100% - 1px), $white 100%);
            animation: lineup 5s infinite;
        }
        &::before {
            left: 0;
            border-right: solid 1px $light-grey;
            background-image: linear-gradient(to right, transparent 0, transparent calc(100% - 1px), $white calc(100% - 1px), $white 100%);
            animation: lineup 5s 2s infinite;
        }

        .container {
            user-select: none;
            position: relative;
            height: calc(100vh - max(10vh, 64px));
            margin: 0 min(17vw, 17vh);

            h1 {
                min-height: 50vh;
            }

            @media #{$media-down-sm} {
                margin: 0 10%;
            }
        }
    }

    #about {
        .content {
            @extend %flex;
            align-items: center;
            gap: calc(#{ratio-space(2px)} + 30px);
            margin-bottom: ratio-space(2px);

            > div, ul {
                width: calc(50% - (#{ratio-space(1px)} + 15px));
            }
        }
        .buttons {
            @extend %flex;

            justify-content: center;
        }

        @media #{$media-down-lg} {
            .content {

                flex-direction: column;
                > div, ul {
                    width: 100%;
                }
            }
        }

        @media #{$media-down-sm} {
            .content {
                ul {
                    li {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }

    #skills {
        .content {
            @extend %flex;

            justify-content: space-between;

            .skill-bar {
                width: calc(50% - #{ratio-space(6px)});

                @media #{$media-down-md} {
                    width: 100%;
                }
            }
        }
    }

    #works {
        min-height: 80vh;
        .gallery .tab {
            @extend %flex;
            gap: ratio-space(3px);
            justify-content: center;
        }
    }

    #contact {
        .container {
            > div {
                .content {
                    form {
                        margin-bottom: ratio-space(2px);

                        @media #{$media-up-xl} {
                            padding: 0 15%;
                        }

                        .field:nth-child(1), .field:nth-child(2) {
                            width: calc(50% - #{ratio-space(1px)});
                            @media #{$media-down-md} {
                                width: 100%;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    margin-top: ratio-space(4px);
                    .content {
                        @extend %flex;
                        gap: calc(#{ratio-space(2px)} + 30px);
                        align-items: center;

                        .card-info, .frame {
                            width: calc(50% - (#{ratio-space(1px)} + 15px));
                        }

                        @media #{$media-down-lg} {
                            flex-direction: column-reverse;
                            .card-info, .frame {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

    }
}
