section:not(:first-child) {
    text-align: center;
    padding: ratio-space(8px) 0;

    .title {
        margin-bottom: ratio-space(4px);
    }

    &:nth-child(1n) {
        background: $black;
    }
    &:nth-child(2n) {
        background: $grey;
    }
    &:nth-child(3n) {
        background: $tertiary-color;
    }
}