/** https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6 **/
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
            eot: "?",
            svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
            otf: "opentype",
            ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote('/assets/fonts/' + $name + '/' + $name + '-' + $path + '.' + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@mixin caret($color: $secondary-color, $size: 10px) {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: calc(50% - #{$size});
    bottom: -$size;
    border-left: solid $size transparent;
    border-right: solid $size transparent;
    border-top: solid $size $color;
}