$black: #000;
$white: #FFF;
$red: #CE000F;
$grey: #111;
$medium-grey: #202020;
$light-grey: darken($white, 50);

$primary-color: $red;
$secondary-color: $black;
$tertiary-color: $medium-grey;
//$quaternary-color: $light-grey;
