%flex {
  display: flex;
  flex-wrap: wrap;
  gap: ratio-space(2px);
}

.container {
  margin: 0 min(20vw, 20vh);

  @media #{$media-down-sm} {
    margin: 0 10%;
  }
}

.em { // emojis
  max-width: 100px;
  height: 6.5rem;

  @media #{$media-down-md} {
    height: 5.5rem;
  }
  @media #{$media-down-sm} {
    height: 4.5rem;
  }
}

%flex-center {
  @extend %flex;
  align-items: center;
  justify-content: center;
}