%flex {
  display: flex;
  flex-wrap: wrap;
  gap: ratio-space(2px);
}

.container {
  margin: 0 min(20vw, 20vh);

  @media #{$media-down-sm} {
    margin: 0 10%;
  }
}

%flex-center {
  @extend %flex;
  align-items: center;
  justify-content: center;
}