.brandboard {
  background-color: $medium-grey;
  padding: ratio-space(2px);

  hr {
    @media #{$media-down-lg} {
      display: none;
    }
  }

  h4 {
    margin-bottom: ratio-space(3px);
  }

  .flex {
    justify-content: space-evenly;

    hr {
      align-self: center;
    }
    >div {
      min-width: 250px;
      flex-direction: column;
      width: 43%;
      margin: 2%;

      @media #{$media-down-lg} {
        width: 100%;
      }

      &.colors {
        width: 100%;

        .content {
          justify-content: space-evenly;
        }
        .color {
          width: 90px;
          height: 90px;
          margin: ratio-space(2px);

          >div {
            width: 100%;
            height: 100%;
            background-color: #8cffa0;
            mask: url('/img/color-paint.svg') no-repeat center;
            mask-size: contain;
          }
        }
      }

      &.logos {
        .content {
          height: 90%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
        .light, .dark {
          width: 96px;
          height: 96px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;

          img {
            width: 60%;
          }
        }
        .light {
          background-color: $white;
        }

        .dark {
          background-color: $black;
        }
      }

      &.fonts {
        .content {
          div {
            width: 45%;

            @media #{$media-down-lg} {
              width: 90%;
            }
          }
        }
      }
    }
  }
}

hr {
  background-color: transparent;
  border: solid 1px transparent;
  border-bottom: solid 1px $white;
  border-right: solid 1px $white;
  width: 90px;
  height: 0;
  &.vertical {
    width: 0;
    height: 90px;
  }
  margin: 0;
}