.card-info {
    @extend %flex;
    gap: ratio-space(2px);
    justify-content: space-between;
    text-align: left;
    background: $medium-grey;
    padding: ratio-space(2px);
    word-break: break-all;
    height: fit-content;
    li {
        display: block;
        width: calc(50% - ratio-space(1px));
    }
}