.progress-bar-wrapper {
  position: relative;

  .title {
    text-align: left;
    margin: ratio-space(1px) 0;
    text-transform: uppercase;
  }

  .progress-bar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: $light-grey;
  }

  .badge {
    position: absolute;
    top: -40px;
    width: 45px;
    height: 20px;
    left: calc(0% - 20px);

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: content-box;
    background-color: $medium-grey;
    box-shadow: rgba($white, .1) 5px 5px 5px;
    border: solid 3px $secondary-color;
    border-radius: 5px;

    &::before {
      content: '';
      position: absolute;
      top: 21px;
      left: 12px;

      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $secondary-color;
    }

    &::after {
      content: '';
      position: absolute;
      top: 19px;
      left: 14px;

      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $medium-grey;
    }
  }
}
