#socials-bar {
    position: fixed;
    z-index: 1;
    height: 90vh;
    top: max(10vh, 64px);
    width: min(64px, 20vh);
    user-select: none;

    $socials-bottom: max(20vh, 128px);
    $socials-height: (50px + ratio-space(.5px)) * 4 - ratio-space(.5px);

    .socials {
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 100%;
        bottom: $socials-bottom;
        transition: .3s;

        li a {
            color: $light-grey;
        }

        &::before {
            content: '';
            position: absolute;
            background: $light-grey;
            width: 2px;
            height: 40px;
            top: - calc(ratio-space(2px) + 40px); // marge (16px) + hauteur
            left: 50%;
            transition: .3s;
        }
    }

    .subtitle {
        position: absolute;
        transform: rotate(-90deg);
        // marge inférieur + hauteur de police + hauteur des socials + hauteur du before avec le before + marge 16px
        bottom: calc(#{$socials-bottom} + 2em + #{$socials-height} + #{ratio-space(4px)} + 40px);
        width: 100%;
        transition: .3s;
    }

    &:hover {
        .socials {
            gap: ratio-space(1.5px);
            bottom: calc(#{$socials-bottom} + #{ratio-space(1px)});

            li a {
                color: $white;
            }
        }
        .subtitle {
            bottom: calc(#{$socials-bottom} + 2em + #{$socials-height} + #{ratio-space(4px)} + 40px + (#{ratio-space(.75px)} * 5));
            letter-spacing: ratio-space(1px);
            color: $white;
        }
    }

    @media #{$media-down-sm} {
        display: none;
    }

    @media only screen and (max-height: 700px) {
        display: none;
    }
}

.socials {
    @extend %flex;
    gap: ratio-space(.5px);

    li a {
        display: inline-block;
        @extend .btn, .secondary, .rounded;
        width: 50px;
        height: 50px;
    }
}