#socials {
    position: fixed;
    z-index: 1;
    height: 90vh;
    top: max(10vh, 64px);
    width: min(64px, 20vh);
    user-select: none;

    .subtitle {
        position: absolute;
        transform: rotate(-90deg);
        bottom: max(20vh, 128px);
        width: 100%;
        transition: .5s;

        &:before {
            content: '';
            position: absolute;
            background: $light-grey;
            width: 40px;
            bottom: calc(50% - 2px);
            height: 2px;
            left: 100px;
            transition: .5s;
        }
    }

    ul {
        position: absolute;
        @extend %flex;
        flex-direction: column;
        align-items: center;
        gap: ratio-space(.5px);
        font-size: 1em;
        width: 100%;
        bottom: calc(max(20vh, 128px) + 140px);
        transition: .5s;

        li a {
            display: inline-block;
            @extend .btn, .primary, .rounded;
            width: 50px;
            height: 50px;
            color: $light-grey;

        }
    }

    &:hover {
        .subtitle {
            color: $white;
            letter-spacing: ratio-space(1px);

            &:before {
                width: 60px;
                left: 128px;
            }
        }

        ul {
            bottom: calc(max(20vh, 128px) + 190px);
            gap: ratio-space(1px);

            li a {
                color: $white;
            }
        }
    }

    @media #{$media-down-sm} {
        display: none;
    }
}