ul.tabs {
    @extend %flex;
    justify-content: center;

    margin-bottom: ratio-space(2px);

    li {
        @extend h4;
        transition: .2s;
        cursor: pointer;
        user-select: none;

        &.active, &:hover {
            color: $white;
        }
    }
}

.tab {
    opacity: 0;
    transition: .5s;
    &.visible {
        opacity: 1;
    }
}