section:not(:first-child) {
    text-align: center;
    padding: ratio-space(14px) 0;

    .title {
        margin-bottom: ratio-space(4px);
    }

    &:nth-child(3n+1) {
        background: $black;
    }
    &:nth-child(3n+2) {
        background: $grey;
    }
    &:nth-child(3n) {
        background: $tertiary-color;
    }
}

footer {
    @extend section;
    .content {
        @extend %flex;
        flex-direction: column;
        gap: ratio-space(4px);
        .jetbrains {
            @extend %flex;

            justify-content: center;
            align-items: center;

            @media #{$media-down-lg} {
                p {
                    order: 2;
                }
            }
        }
    }
}