@import url('https://emoji-css.afeld.me/emoji.css');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700,300');

//@include font-face(Gilroy, Thin, 100, normal, eot ttf woff);
//@include font-face(Gilroy, UltraLight, 200, normal, eot ttf woff);
@include font-face(Gilroy, Light, 300, normal, eot ttf woff);
@include font-face(Gilroy, Regular, 400, normal, eot ttf woff);
@include font-face(Gilroy, Medium, 500, normal, eot ttf woff);
@include font-face(Gilroy, SemiBold, 600, normal, eot ttf woff);
@include font-face(Gilroy, Bold, 700, normal, eot ttf woff);
//@include font-face(Gilroy, ExtraBold, 800, normal, eot ttf woff);
@include font-face(Gilroy, Heavy, 900, normal, eot ttf woff);
//@include font-face(Gilroy, ThinItalic, 100, italic, eot ttf woff);
//@include font-face(Gilroy, UltraLightItalic, 200, italic, eot ttf woff);
//@include font-face(Gilroy, LightItalic, 300, italic, eot ttf woff);
//@include font-face(Gilroy, RegularItalic, 400, italic, eot ttf woff);
//@include font-face(Gilroy, MediumItalic, 500, italic, eot ttf woff);
//@include font-face(Gilroy, SemiBoldItalic, 600, italic, eot ttf woff);
//@include font-face(Gilroy, BoldItalic, 700, italic, eot ttf woff);
//@include font-face(Gilroy, ExtraBoldItalic, 800, italic, eot ttf woff);
//@include font-face(Gilroy, BlackItalic, 900, italic, eot ttf woff);

h1, h1 * {
  font-weight: 600;
  font-size: 8rem;
  .em {
    height: 8rem;
  }

  @media #{$media-down-xl} {
    font-size: 6.5rem;
    .em  {
      height: 6.5rem;
    }
  }
  @media #{$media-down-lg} {
    font-size: 5rem;
    .em  {
      height: 5rem;
    }
  }
  @media #{$media-down-md} {
    font-size: 3.8rem;
    .em  {
      height: 3.8rem;
    }
  }
  @media #{$media-down-sm} {
    font-size: 2.6rem;
    .em {
      height: 2.6rem;
    }
  }
}

h2, h2 * {
  text-transform: uppercase;
  letter-spacing: ratio-space(1px);
  font-size: 3.5rem;
  font-weight: 900;

  @media #{$media-down-md} {
    font-size: 2.5rem;
  }
  @media #{$media-down-sm} {
    font-size: 1.5rem;
  }
}

h3 {
  font-family: $font-secondary;
  text-transform: uppercase;
  color: $light-grey;
  line-height: 1.7em;
  letter-spacing: ratio-space(.5px);
  font-weight: 500;
  font-size: 1rem;
}

h4 {
  @extend h3;
  font-size: .8rem;
  margin-bottom: ratio-space(1px);
}

strong {
  color: $primary-color;
}

p.small, span.small {
  font-size: $font-size - 2px;
  font-style: italic;
  color: $light-grey;
}