.light-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    background: rgba($grey, .9);
    display: none;
    cursor: pointer;
    transition: .5s;

    > div {
        cursor: auto;
    }

    .carousel {
        .carousel-item {
            position: absolute;
            width: 80%;
            height: 80%;
            top: 10%;
            left: 10%;

            &:not(.grab) {
                transition: .5s;
            }

            @extend %flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                width: 80%;
                height: calc(80% - ratio-space(1px));
                object-fit: scale-down;
            }

            .footer {
                height: calc(20% - ratio-space(1px));
                width: 100%;
                text-align: center;
                padding: ratio-space(2px);
            }

            &::before, &::after {
                content: '\f100';
                position: absolute;
                height: 100%;
                width: 10%;
                top: 0;
                left: 0;
                transition: .5s;
                z-index: 2;

                font-family: 'Font Awesome 6 Free';
                font-weight: 900;

                @extend %flex;
                font-size: 40px;
                align-items: center;
                justify-content: center;
                color: $light-grey;
                cursor: pointer;
            }

            &::after {
                content: '\f101';
                left: 90%;
            }

            &.left::before, &.right::after {
                color: $white;
            }

            @media #{$media-down-md} {
                &::before, &::after {
                    content: none;
                }
            }
        }
    }

    &.active {
        display: block;
    }

    &::after {
        content: '\f00d';
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        font-size: 25px;
        padding: 64px 5% 0 0;
        top: 0;
        right: 0;
        position: absolute;
        @extend %flex;
        align-items: center;
        justify-content: center;
    }
}
