ul.card-info {
    @extend %flex;

    justify-content: space-between;
    text-align: left;
    background: $tertiary-color;
    padding: ratio-space(2px);
    word-break: break-word;
    height: fit-content;
    > li {
        display: block;
        width: calc(50% - ratio-space(1px));

        .label {
            user-select: none;
        }

        &:first-child, &:last-child:not(:nth-child(odd)) {
            width: 100%;
        }

        @media #{$media-down-md} {
            width: 100%;
        }
    }
}

ul.list {
    margin-left: 1em;
    > li {
        transition: .3s;
        cursor: default;

        &::before {
            content: '-';
            color: $primary-color;
            margin-left: -1em;
            width: 1em;
            font: inherit;
            display: inline-block;
        }
        &:hover {
            font-weight: 500;
        }
    }
}

ul.files {
    @extend %flex;
    gap: ratio-space(4px);
    .file {
        a {
            @extend %flex;
            align-items: center;
            gap: ratio-space(1px);
            i {
                font-size: 2em;
            }
        }
    }
}