ul.card-info {
    @extend %flex;

    justify-content: space-between;
    text-align: left;
    background: $tertiary-color;
    padding: ratio-space(2px);
    word-break: break-all;
    height: fit-content;
    > li {
        display: block;
        width: calc(50% - ratio-space(1px));

        .label {
            user-select: none;
        }
    }
}

ul.list {
    margin-left: 1em;
    > li {
        transition: .3s;
        &::before {
            content: '-';
            color: $primary-color;
            margin-left: -1em;
            width: 1em;
            font: inherit;
            display: inline-block;
        }
        &:hover {
            color: $primary-color;
        }
    }
}

ul.files {
    @extend %flex;
    .file {
        width: calc(50% - ratio-space(1px));
        a {
            @extend %flex;
            align-items: center;
            i {
                font-size: 2em;
            }
        }
    }
}