nav.navbar {
  height: 10vh;
  min-height: 64px;
  border-bottom: solid 1px $light-grey;
  padding: ratio-space(2px) ratio-space(4px);
  position: relative;

  @extend %flex;
  justify-content: space-between;
  align-items: center;
}