nav.navbar {
  height: 10vh;
  min-height: 64px;
  border-bottom: solid 1px $light-grey;
  padding: ratio-space(2px) ratio-space(4px);
  position: fixed;
  width: 100%;
  background-color: rgba($secondary-color, .5);
  z-index: 10;

  @extend %flex;
  justify-content: space-between;
  align-items: center;

  .links {
    @extend %flex;
    align-items: center;
  }
}