@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes lineup {
    from {
        background-position: 100% 100%;
    }

    15% {
        background-position: 100% -125%;
    }

    99.9% {
        background-position: 100% -125%;
    }

    to {
        background-position: 100% 125%;
    }
}

@keyframes wheel {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(100px);
    }
}
