%flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: 0 min(20vw, 20vh);

  @media #{$media-down-sm} {
    margin: 0 10%;
  }
}

.em { // emojis
  max-width: 100px;
}

%flex-center {
  @extend %flex;
  align-items: center;
  justify-content: center;
  //gap: ratio-space(2px); // to add
}